run_solver.sh


--> FOAM FATAL ERROR: 
Attempt to cast type fixedValue to type nutWallFunction

    From function To& Foam::refCast(From&) [with To = const nutWallFunctionFvPatchScalarField; From = const fvPatchField<double>]
    in file /home/stein/OpenFOAM/OpenFOAM-12/src/OpenFOAM/lnInclude/typeInfo.H at line 137.

FOAM aborting

#0  Foam::error::printStack(Foam::Ostream&) at ??:?
#1  Foam::error::abort() at ??:?
#2  ? at nutWallFunctionFvPatchScalarField.C:?
#3  Foam::epsilonWallFunctionFvPatchScalarField::calculate(Foam::momentumTransportModel const&) const at ??:?
#4  Foam::epsilonWallFunctionFvPatchScalarField::updateCoeffsMaster() at ??:?
#5  Foam::epsilonWallFunctionFvPatchScalarField::updateCoeffs() at ??:?
#6  Foam::GeometricBoundaryField<double, Foam::fvPatchField, Foam::volMesh>::updateCoeffs() at ??:?
#7  Foam::RASModels::kEpsilon<Foam::incompressibleMomentumTransportModel>::correct() at ??:?
#8  ? in "/home/stein/OpenFOAM/OpenFOAM-12/platforms/linux64GccDPInt32Opt/bin/foamRun"
#9  ? in "/usr/lib/x86_64-linux-gnu/libc.so.6"
#10  __libc_start_main in "/usr/lib/x86_64-linux-gnu/libc.so.6"
#11  ? in "/home/stein/OpenFOAM/OpenFOAM-12/platforms/linux64GccDPInt32Opt/bin/foamRun"
Aborted (core dumped)


--> FOAM FATAL ERROR: 
cannot find file "/home/stein/OpenFOAM/stein-12/run/T1Turb/GT1/turbulent_planar/turbulent_planar_kE/turbulent_planar_kE_noWF/turbulent_planar_kE_noWF_low_I/constant/p"

    From function virtual Foam::autoPtr<Foam::ISstream> Foam::fileOperations::uncollatedFileOperation::readStream(Foam::regIOobject&, const Foam::fileName&, const Foam::word&, bool) const
    in file global/fileOperations/uncollatedFileOperation/uncollatedFileOperation.C at line 539.

FOAM exiting

real 2.07
user 0.25
sys 0.24
run_gnuplot.sh
"gnuplot/gnuplot_script" line 13: warning: Cannot find or open file "postProcessing/sampleDict0/1000/profile0.xy"
"gnuplot/gnuplot_script" line 52: warning: Cannot find or open file "postProcessing/sampleDict0/1000/profile0.xy"
"gnuplot/gnuplot_script" line 52: warning: Did you try to plot a complex-valued function?
real 0.06
user 0.05
sys 0.01
